@mixin minWidth($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content
    }
}

@mixin maxWidth($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content
    }
}


@mixin selectCommonStyles {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
